// MIXINS

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content
  }
}

@mixin mobile {
  @media (max-width: 640px) {
    @content
  }
}

// VARS

$red: red;
$green: green;
$black: black;
$blue: blue;

:root {
  --c-background: #fff;
  --c-sec-background: #eee;
  --c-main: #333;
  --c-secondary: #555;

  --unit: 8px;

  @include dark-mode() {
    --c-background: #333;
    --c-sec-background: #222;
    --c-main: #eee;
    --c-secondary: #ccc;
  }
}

// RESET

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

[type=button],
button {
  all: revert;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: calc(var(--unit) * 2.5);
  min-height: 100vh;
  scroll-behavior: smooth;
}

// STYLING

body {
  background-color: var(--c-sec-background);
  color: var(--c-secondary);
  position: relative;
  padding-top: calc(var(--unit) * 4);
}

h1 {
  padding: calc(var(--unit) * 1.5) calc(var(--unit) * 2) 0;
  text-transform: uppercase;
  color: var(--c-main);
  
  span {
    font-style: italic;
    font-weight: 800;
    background: linear-gradient(to right, $green, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 2px;
    
    @include dark-mode() {
      background: linear-gradient(to right, lighten($green, 10%), lighten($red, 10%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: var(--c-sec-background);
}

table { 
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  white-space: nowrap;

  th,
  td {
    padding: calc(var(--unit) * 1.5) calc(var(--unit) * 2);
    background-color: var(--c-background);
    vertical-align: top;
    text-align: right;
  }

  // TABLE HEADER

  tr:first-child {
    th {
      position: sticky;
      top: calc(var(--unit) * 4);
      left: 0;
      z-index: 2;
      background-color: var(--c-sec-background);
      box-shadow: 0 1px 0 transparentize($black, .95), 0 2px 0 transparentize($black, .95);
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--c-main);
      }
      
      &::after {
        content: "";
        display: inline-block;
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 6px solid var(--c-secondary);
        margin-left: 4px;
        transform: translateY(-2px);
        opacity: 0;
      }

      &.sort {
        &::after {
          opacity: 1;
        }

        &.sort--desc {
          &::after {
            border-bottom: none;
            border-top: 6px solid var(--c-secondary);
          }
        }
      }

      @include dark-mode() {
        box-shadow: 0 1px 0 transparentize($black, .85), 0 2px 0 transparentize($black, .85);
      }

      &:first-child {
        left: 0;
        z-index: 3;
        font-weight: 900;
        color: var(--c-main);
        text-align: left;
      }

      &:last-child {
        font-weight: 900;
        color: var(--c-main);
      }
    }
  }

  // DATA ROWS

  tr:not(:first-child) {
    &:not(:last-child) {
      td {
        border-top: 1px solid var(--c-sec-background);
        border-right: 1px solid var(--c-sec-background);

        &:first-child {
          position: sticky;
          left: 0;
          background-color: var(--c-sec-background);
          max-width: 33.33vw;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          border-right: none;
          box-shadow: 1px 0 0 transparentize($black, .95), 2px 0 0 transparentize($black, .95);

          @include dark-mode() {
            box-shadow: 1px 0 0 transparentize($black, .85), 2px 0 0 transparentize($black, .85);
          }
        }

        &:last-child {
          font-weight: 900;
          color: var(--c-main);
          border-right: none;
        }

        &:not(:first-child) {
          font-feature-settings: "tnum";
          background-color: transparentize($red, .9);
          color: $red;

          @include dark-mode() {
            color: lighten(red, 25%);
          }
        }

        &.no-cases {
          background-color: transparentize($green, .9);
        }
      }
    }
  }

  // TABLE FOOTER

  tr:last-child {
    td {
      position: sticky;
      bottom: 0;
      z-index: 2;
      background-color: var(--c-sec-background);
      box-shadow: 0 -1px 0 transparentize($black, .95), 0 -2px 0 transparentize($black, .95);

      @include dark-mode() {
        box-shadow: 0 -1px 0 transparentize($black, .85), 0 -2px 0 transparentize($black, .85);
      }
      
      &:first-child {
        left: 0;
        z-index: 3;
        font-weight: 900;
        text-align: left;
        color: var(--c-main);
      }

      &:last-child {
        font-weight: 900;
        color: var(--c-main);
      }

      &:not(:first-child) {
        font-feature-settings: "tnum";
      }
    }
  }
}

// ABOUT

.about {
  .about-content {
    display: none;
    position: fixed;
    overflow-y: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: var(--c-background);
    height: 100vh;

    .styled {
      background: var(--c-background);
      max-width: calc(var(--unit) * 80);
      padding: calc(var(--unit) * 3) calc(var(--unit) * 4);
      margin: 0 auto;
    }
  }

  .close {
    position: fixed;
    top: calc(var(--unit) * 2.5);
    right: calc(var(--unit) * 2.5);
    width: calc(var(--unit) * 3.5);
    height: calc(var(--unit) * 3.5);
    border-radius: 50%;
    line-height: calc(var(--unit) * 3);
    font-size: calc(var(--unit) * 3);
    text-align: center;
    color: var(--c-background);
    display: inline-block;
    background: var(--c-secondary);
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(--c-main);
    }
  }

  input:checked ~ .about-content {
    display: flex;
  }
  
  input {
    display: none;
  }

  .open {
    cursor: pointer;
    display: block;
    padding: calc(var(--unit) * 1.5) calc(var(--unit) * 2) 0;

    &:hover,
    &:focus {
      text-decoration: underline;

      &::before {
        background: var(--c-main);
      }
    }

    &:active {
      color: var(--c-main);
    }

    &::before {
      content: "i";
      width: calc(var(--unit) * 2.5);
      height: calc(var(--unit) * 2.5);
      border-radius: 50%;
      text-align: center;
      font-style: italic;
      color: var(--c-background);
      display: inline-block;
      background: var(--c-secondary);
      margin-right: 8px;
    }
  }
}

// STYLED

.styled {
  p,
  h2,
  h3 {
    margin-bottom: calc(var(--unit) * 2);
  }

  h2 {
    font-size: calc(var(--unit) * 3);
    line-height: calc(var(--unit) * 4);
    color: var(--c-main);
    font-weight: 800;
  }

  h3 {
    font-size: calc(var(--unit) * 2.5);
    line-height: calc(var(--unit) * 3.5);
    color: var(--c-main);
    font-weight: 600;
  }

  blockquote {
    border-left: calc(var(--unit) / 2) solid var(--c-sec-background);
    padding-left: calc(var(--unit) * 2);
    color: var(--c-main);

    * {
      font-style: italic;
    }
  }

  a {
    color: $blue;
    text-decoration: underline;

    @include dark-mode() {
      color: lighten($blue, 25%);
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.filtered {
  display: none;
}
