name: Periodic

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/5 * * * *'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.7.1
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7.1

    # Runs a single command using the runners shell
    - name: Check to see if we need to build
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bin/krona check && (git add . && git commit -m "Building results ${GITHUB_RUN_NUMBER}" && git push -u origin) || echo "Nothing new"
      env:
        GIT_AUTHOR_NAME: Github Bot
        GIT_COMMITTER_NAME: Github Bot
        EMAIL: piet@pjaspers.com
